doctype
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title timyo
		link(rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css")
		link(rel="stylesheet" href="../CSS/index.css")
	body
		div.header#header
			div.navbar.navbar-default
				div.container
					div.navbar-header
						button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse")
							span.sr-only
							span.icon-bar
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a(href="##").navbar-brand
							img(src="../img/logo.png")
					div.collapse.navbar-collapse#example-navbar-collapse
						ul.nav.navbar-nav.navbar-right#navbar-right
							li
								a(href="##") Mission
							li
								a(href="##") FAQ
							li
								a(href="##") Blog
							li
								a(href="##") 
									img(src="../img/1.png")
							li
								a(href="##")
									img(src="../img/2.png")
			div.header-con
				div.container
					div.col-md-7.text-center.banner-info-left
						br
						br 
						h2
							div#show-text
								div.hid
									span It’s about time:
								div
									span Forget inbox zero:
								div
									span GOGOGOGOGOGO:
								div
									span 'Real-time' isn’t for real:
						h2#header-conh2
							span email that matters,	
							br
							span when it matters.
							br
							a(href="##") Watch the video
									span.glyphicon.glyphicon-play-circle
							br
							br 
					div.col-md-5.phone#phone
						ul.list-unstyled.lunbo#lunbo
							li.show
								img(src="../img/slide-1.png").img-responsive
							li
								img(src="../img/slide-2.png").img-responsive
							li
								img(src="../img/slide-3.png").img-responsive
							li
								img(src="../img/slide-4.png").img-responsive
						ul.pagination#pagination
							li.span
							li
							li
							li
		div.text-me
			div.container
				h3 Available now for iOS!
				p.p1 Currently available for Gmail and Google Apps - more providers coming soon.
				br
				br
				a(href="##").text-a
					img(src="../img/download-timyo.png", alt="")
				div.text-coundry
					div.text-coundry-con-left
						input(type="text" placeholder="(201) 555-5555")#Tinput
						div.dropdown
							a(data-toggle="dropdown" href="##").btn.btn-default.dropdown-toggle
								span#nationl
								span.caret
							ul.dropdown-menu.pull-left.country-list#country
								li
									a(href="##")
										i
										span China(中国)+86
								li
									a(href="##")
										i
										span Central African Republic (République centrafricaine)+236
								li
									a(href="##")
										i
										span Central African Republic (République centrafricaine)+236
								li
									a(href="##")
										i
										span Central African Republic (République centrafricaine)+236
								li
									a(href="##")
										i
										span Central African Republic (République centrafricaine)+236
								li
									a(href="##")
										i(src="", alt="")
										span Central African Republic (République centrafricaine)+236
					button.btn.btn-default#butn Text me a link
					p
				br
				br
				p 
					span If you are on Android or Windows Phone, we are working on versions for you!
					br
					span Enter your email and choose your OS below to be notified.
				form#text-emil
					input(type="text" placeholder="Your email address").form-control
					p Choose your OS to submit.
					button
					button
		div#con1
			div.container
				h3
					span Wait!
					br
					span You don’t need to answer every email as soon as it hits your inbox.
				div
					img(src="../img/iphone-on-table-small.png", alt="")
				div
					p
						span That's why we've reimagined your inbox and created Agenda View to let you know at a glance which emails are important and when you need to deal with them. With Timyo, you can communicate more meaningfully by sending and receiving emails with clear expectations that are already prioritized by time. 
						br
						br
						soan Now you can focus on the email that matters, when it matters.
		div#con2
			div.container.con2-top
				h4 Focus on what matters today
				a(href="##")
					br
					br
					p See how Timyo helps you
						span.glyphicon.glyphicon-play-circle
			div.container
				div.col-md-5
					img(src="../img/focus-on-what-matters.jpg", alt="")
				div.col-md-7
					div
						a(href="##")
							h5 Manage important email by time 
								span.glyphicon.glyphicon-play-circle
						p No need to clean out your inbox. Select only the emails that matter to you, assign a date and don't worry about the rest.
					div
						a(href="##")
							h5 Manage important email by time 
								span.glyphicon.glyphicon-play-circle 
						p Timyo users send and receive emails that are already prioritized by time. Send email with clear expectations and receive better replies.
					div
						a(href="##")
							h5 Manage important email by time 
								span.glyphicon.glyphicon-play-circle  
						p Stay organized at a glance! Use Agenda View to easily manage your time without leaving your inbox.
					div
						a(href="##")
							h5 Manage important email by time 
								span.glyphicon.glyphicon-play-circle
						p Because your email is sent with clear expectations, Reply Tracker lets you know when a reply is still pending or overdue.
		div#con3
			div.container
				div
					img(src="../img/email-on-computer2.png", alt="")
				div
					h3
						span Give the gift of
						br
						span clear expectations
					p
						span When recipients open your email, they will see immediately a clear, simple, and polite message letting them know when you would like them to respond. By giving the gift of clear expectations, you give them other gifts as well: peace of mind, increased productivity, and, ultimately, time.
						br
						br
						span And it’s hard to think of a better gift than that.
		div#con4
			div.container
				h2 Timyo works on your desktop as well
				div.con4-con
					div.col-md-4
						img(src="../img/apple-mail-desktop-screen.png", alt="")
					div.col-md-4
						img(src="../img/gmail-desktop-screen.png", alt="")
					div.col-md-4
						a(href="##")
							img(src="../img/outlook-desktop-screen.png", alt="")
				div.con4-bot
					a(href="##")
						img(src="../img/chrome-store-btn3.png", alt="")
		div#con5
			div.container
				h4.con5-title We are on a mission
				div.con5-con
					div.col-md-4
						img(src="../img/clarity.png", alt="")
						h4.con5-h1 Clarity
						p Email remains the #1 tool today’s workforce uses to communicate. Unfortunately, it was not designed for the ‘always on’ expectations that have become the norm. Thanks to Timyo, users can now benefit from clear and proactive communication.
					div.col-md-4
						img(src="../img/productivity.png", alt="")
						h4.con5-h2 Productivity
						p By helping you stay focused on important emails when they matter to you, Timyo helps you cut through the clutter. And when the people you work with use Timyo too, your email will come already prioritized by due date.
					div.col-md-4
						img(src="../img/peace2.png", alt="")
						h4.con5-h3 Peace
						p At Timyo, we believe it's time for email to make your life easier again. With email prioritized by time and features like Agenda View and Reply Tracker, Timyo takes the stress out of email and puts something much better in its place: peace.
		div#con6
			div.container.con6-top
				h4 Upgrade to business class email
			div.container
				div.col-md-5
					img(src="../img/iphone-register.png", alt="")
				div.col-md-7
					div
						a(href="##")
							h5 Easy setup
						p Enter your email account and password and voila! You've got Timyo.
					div
						a(href="##")
							h5 Existing account 
						p Timyo isn't another new email address to manage — it's a way to better manage your existing accounts.
					div
						a(href="##")
							h5 Free & Flexible 
						p You can switch back and forth between Timyo and your providers' apps whenever you want to (but we don't think you'll want to).
					div
						a(href="##")
							h5 Private & Secure
						p Timyo never stores, processes, or transmits your data through third-party servers. Passwords are never stored on our servers.
						br
						br
						br
						br
						a(href="##")
							img(src="../img/qqq.png", alt="").iphonloge
		div#footer
			div.container
				br
				p Timyo is a patented solution: US 20150007048A1
				br
				a(href="##") Privacy Policy
				span |
				a(href="##") Security
				span |
				a(href="##") Press Inquiries
				span |
				a(href="##") About Us
				p.footerp ©2015 Timyo. All rights reserved.

		//- div.header
		//- 	div.container.navbar.navbar-default
		//- 		div.header
		//- 			div.navbar
		//- 				button(data-toggle='collapse' data-target='#example-navbar-collapse').navbar-toggle
		//- 					span.sr-only 切换导航
		//- 					span.icon-bar
		//- 					span.icon-bar
		//- 					span.icon-bar
		//- 				a(href='##').navbar-brand 
		//- 					img(src='../img/logo.png')




	script(src="http://cdn.bootcss.com/jquery/2.0.0/jquery.min.js")
	script(src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js")
	script( type="text/javascript" src="../Js/index.js")